<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">

            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order price</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>My Account</h4>
                <ul>
                    <li><a href="http://127.0.0.1:3004/signUp">Login/Register</a></li>
                    <li><a href="Cart">My Cart</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Returns History</a></li>
                    
                </ul>
            </div>

            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>