<%- include('partials/header') %>
        <!-- Cart is Empty -->
        <div class="Empty-img">
            <img src="images/EmptyCart.png" class="mx-auto d-block" style="max-width:45%;" alt="...">
            <h3 class="text-center text">Ooops!</h3>
            <h5 class="text-center mb-5 text">Your shopping cart looks empty</h5>
        </div>


         <!-- Footer -->
         <%- include('partials/footer') %>


        <script src="cartEmpty.js"></script>

</body>
</html>